:root {
    /* main */
    --color-primary: #56B7E1;
    --color-primary-dark: #0883B8;
    --color-accent: #FFFFFE;

    /* typography */
    --color-text-black: #094067;
    --color-text-white: #FFFFFE;
    --color-text-grey: #5F6C7B;

    /* content */
    --color-content-back: #FFFFFE;

    /* footer */
    --color-footer-back: #D9D9D9;
}

body {
    font-family: "Arial", sans-serif;
    margin: 0;
}

header {
    background-color: var(--color-primary);
}

section {
    text-align: center;
}

footer {
    background-color: var(--color-primary);
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 306px;
    margin: 50px auto;
}

.cell {
    font-family: "Permanent Marker", cursive;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 0 1px #333333;
    border: 1px solid #333333;
    cursor: pointer;
    line-height: 100px;
    font-size: 60px;
}